{% extends "adminbase.html.twig" %}

{% block title %}
    Menü hozzáadása - Webmenza
{% endblock title %}

{% block headtitle %}
    Menü hozzáadása
{% endblock headtitle %}

{% block content %}
<form method="post" action="#">
    <div class="mb-3 row">
        <label for="date" class="form-label col-sm-2">Nap:</label>
        <input type="date" name="date" id="date" class="form-control col" required>
    </div>
    <div class="mb-3 row">
        <label for="meal" class="form-label col-sm-2">Étkezés:</label>
        <select name="meal" id="meal" class="form-select col" required>
            {% for meal in meals %}
                <option value="{{ meal['id'] }}">{{ meal['name'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3 row">
        <label for="date" class="form-label col-sm-2">Menü:</label>
        <textarea name="menu" id="menu" required class="form-control col"></textarea>
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi bi-floppy"></i> Mentés</button>
</form>
{% endblock content %}