{% extends "adminbase.html.twig" %}

{% block title %}
    Határidő hozzáadása - Webmenza
{% endblock title %}

{% block headtitle %}
    Határidő hozzáadása
{% endblock headtitle %}

{% block content %}
<form method="post" action="#">
    <div class="mb-3">
        <label for="from" class="form-label">Első nap:</label>
        <input type="date" name="from" id="from" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="to" class="form-label">Utolsó nap:</label>
        <input type="date" name="to" id="to" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="start" class="form-label">Első kitöltési nap:</label>
        <input type="date" name="start" id="start" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="end" class="form-label">Utolsó kitöltési nap:</label>
        <input type="date" name="end" id="end" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi bi-floppy"></i> Mentés</button>
</form>
{% endblock content %}