{% extends "base.html.twig" %}

{% block title %}
    Webmenza
{% endblock title %}

{% block headtitle %}
    Webmenza
{% endblock headtitle %}

{% block content %}
    <p>
        {% if todayMenu %}
            A mai ebéded: {{ todayMenu[0]|nl2br }}.
        {% else %}
            A mai napra nem igényeltél étkezést.
        {% endif %}
    </p>
{% endblock content %}