{% extends "adminbase.html.twig" %}

{% block title %}
    Felhasználók - Webmenza
{% endblock title %}

{% block headtitle %}
    Felhasználók
{% endblock headtitle %}

{% block content %}
<div class="d-flex justify-content-sm-between flex-wrap">
    <div><a href="add.user.php" class="btn btn-primary" role="button"><i class="bi bi-person-plus"></i> Felhasználó létrehozása</a></div>
    <form action="#" method="get" role="search" class="d-flex">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Írja ide a keresett nevet..." aria-label="Kulcsszó" aria-describedby="searchbutton" name="search" value="{{ search|escape }}">
            <button class="btn btn-outline-primary" type="submit" id="searchbutton"><i class="bi bi-search"></i> Keresés</button>
        </div>
    </form>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Név</th>
                <th>Csoport</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><a href="view.user.php?id={{ user[0] }}">{{ user[1] }}</a></td>
                <td>{{ user[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}