{% extends "adminbase.html.twig" %}

{% block title %}
    Csoport költöztetése - Webmenza
{% endblock title %}

{% block headtitle %}
    Csoport költöztetése
{% endblock headtitle %}

{% block content %}
<form method="post" action="#">
    <div class="mb-3 row">
        <label for="from" class="form-label col-sm-2">Innen:</label>
        <select name="from" id="from" class="form-select col">
            <option value=""></option>
            {% for group in groups %}
                <option value="{{ group['id'] }}" {% if from == group['id'] %} selected {% endif %}>{{ group['name'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3 row">
        <label for="to" class="form-label col-sm-2">Ide:</label>
        <select name="to" id="to" class="form-select col">
            <option value=""></option>
            {% for group in groups %}
                <option value="{{ group['id'] }}">{{ group['name'] }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary"><i class="bi bi-floppy"></i> Mentés</button>
</form>
{% endblock content %}